<div class="bg-white shadow-md rounded-3xl p-3">
  <div class="flex-none lg:flex">
    <div class="h-200 w-auto lg:h-32 lg:w-32 lg:mb-0 mb-3">
      <img
        [src]="course.hinhAnh"
        alt="Just a flower"
        class="w-100 object-scale-down lg:object-cover lg:h-32 rounded-2xl"
      />
    </div>
    <div class="flex-auto ml-3 justify-evenly py-2">
      <div class="flex flex-wrap">
        <h2 class="flex-auto text-lg font-medium">{{ course.tenKhoaHoc }}</h2>
      </div>
    </div>
  </div>
</div>
