<!-- Section 2 -->
<section class="px-2 py-16 bg-white md:px-0">
  <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
    <div class="flex flex-wrap items-center sm:-mx-3">
      <div class="w-full md:w-1/2 md:px-3">
        <div
          class="
            w-full
            pb-6
            space-y-6
            sm:max-w-md
            lg:max-w-lg
            md:space-y-4
            lg:space-y-8
            xl:space-y-9
            sm:pr-5
            lg:pr-0
            md:pb-0
          "
        >
          <h1
            class="
              text-4xl
              font-extrabold
              tracking-tight
              text-gray-900
              sm:text-5xl
              md:text-4xl
              lg:text-5xl
              xl:text-6xl
            "
          >
            <span class="block xl:inline">E-Learning</span>
            <span class="block text-indigo-600 xl:inline">
              A broad selection of courses</span
            >
          </h1>
          <p
            class="
              mx-auto
              text-base text-gray-500
              sm:max-w-md
              lg:text-xl
              md:max-w-3xl
            "
          >
            Choose from 183,000 online video courses with new additions
            published every month
          </p>
          <div class="relative flex flex-col sm:flex-row sm:space-x-4">
            <a
              routerLink="/list-course"
              class="
                flex
                items-center
                w-full
                px-6
                py-3
                mb-3
                text-lg text-white
                bg-indigo-600
                rounded-md
                sm:mb-0
                hover:bg-indigo-700
                sm:w-auto
              "
            >
              Try It Free
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 ml-1"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </a>
            <a
              routerLink="/blogs"
              class="
                flex
                items-center
                px-6
                py-3
                text-gray-500
                bg-gray-100
                rounded-md
                hover:bg-gray-200 hover:text-gray-600
              "
            >
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <div
          class="
            w-full
            h-auto
            overflow-hidden
            rounded-md
            shadow-xl
            sm:rounded-xl
          "
        >
          <img
            src="https://cdn.devdojo.com/images/november2020/hero-image.jpeg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 5 -->
<section class="relative w-full bg-white">
  <div
    class="absolute w-full h-32 bg-gradient-to-b from-gray-100 to-white"
  ></div>
  <div
    class="
      relative
      w-full
      px-5
      py-10
      mx-auto
      sm:py-12
      md:py-16 md:px-10
      max-w-7xl
    "
  >
    <h1
      class="
        mb-1
        text-4xl
        font-extrabold
        leading-none
        text-gray-900
        lg:text-5xl
        xl:text-6xl
        sm:mb-3
      "
    >
      <a routerLink="#_">The Project Blog</a>
    </h1>
    <p class="text-lg font-medium text-gray-500 sm:text-2xl">
      Designs and layouts to help you with your app.
    </p>
    <div class="flex grid h-full grid-cols-12 gap-10 pb-10 mt-8 sm:mt-16">
      <div
        class="
          relative
          flex flex-col
          items-start
          justify-end
          h-full
          col-span-12
          overflow-hidden
          rounded-xl
          group
          md:col-span-6
          xl:col-span-4
        "
      >
        <a
          routerLink="/"
          class="
            block
            w-full
            transition
            duration-300
            ease-in-out
            transform
            bg-center bg-cover
            h-96
            hover:scale-110
          "
          style="
            background-image: url('https://cdn.devdojo.com/images/may2021/quench-satisfying.jpg');
          "
        >
        </a>
        <div
          class="
            relative
            z-20
            w-full
            h-auto
            py-8
            text-white
            bg-purple-500
            border-t-0 border-yellow-200
            px-7
          "
        >
          <a
            routerLink="#_"
            class="
              inline-block
              text-xs
              font-semibold
              absolute
              top-0
              -mt-3.5
              rounded-full
              px-4
              py-2
              uppercase
              text-purple-500
              bg-white
            "
            >Resources</a
          >
          <h2 class="mb-5 text-5xl font-bold">
            <a routerLink="#_">Refreshing Designs</a>
          </h2>
          <p class="mb-2 text-lg font-normal text-purple-100 opacity-100">
            Quench satisfying designs to help you stir up emotion and tell a
            story.
          </p>
        </div>
      </div>

      <div
        class="
          relative
          flex flex-col
          items-start
          justify-end
          h-full
          col-span-12
          overflow-hidden
          rounded-xl
          group
          md:col-span-6
          xl:col-span-4
        "
      >
        <a
          routerLink="#_"
          class="
            block
            w-full
            transition
            duration-300
            ease-in-out
            transform
            bg-center bg-cover
            h-96
            hover:scale-110
          "
          style="
            background-image: url('https://cdn.devdojo.com/images/may2021/orange.jpg');
          "
        >
        </a>
        <div
          class="
            relative
            z-20
            w-full
            h-auto
            py-8
            text-white
            bg-blue-400
            border-t-0 border-yellow-200
            px-7
          "
        >
          <a
            routerLink="#_"
            class="
              inline-block
              text-xs
              font-semibold
              absolute
              top-0
              -mt-3.5
              rounded-full
              px-4
              py-2
              uppercase
              text-blue-500
              bg-white
            "
            >Lifestyle</a
          >
          <h2 class="mb-5 text-5xl font-bold">
            <a routerLink="#_">Healthier Lifestyle</a>
          </h2>
          <p class="mb-2 text-lg font-normal text-blue-100 opacity-100">
            Living a healthier lifestyle will help with your productivity and
            your mind-set.
          </p>
        </div>
      </div>

      <div
        class="
          relative
          flex flex-col
          items-start
          justify-end
          h-full
          col-span-12
          overflow-hidden
          rounded-xl
          group
          sm:col-span-12
          xl:col-span-4
          sm:flex-row
          xl:flex-col
        "
      >
        <a
          routerLink="#_"
          class="
            block
            w-full
            transition
            duration-300
            ease-in-out
            transform
            bg-center bg-cover
            h-96
            hover:scale-110
          "
          style="
            background-image: url('https://cdn.devdojo.com/images/may2021/gbc.jpg');
          "
        ></a>
        <div
          class="
            relative
            z-20
            flex flex-col
            items-start
            justify-center
            w-full
            h-auto
            py-8
            text-white
            bg-yellow-400
            border-t-0 border-yellow-200
            sm:h-full
            xl:h-auto
            px-7
          "
        >
          <a
            routerLink="#_"
            class="
              inline-block
              text-xs
              font-semibold
              absolute
              sm:mb-5
              xl:mb-0
              sm:relative
              xl:absolute
              top-0
              -mt-3.5
              rounded-full
              px-4
              py-2
              uppercase
              text-yellow-400
              bg-white
            "
            >Entertainment</a
          >
          <h2 class="mb-5 text-5xl font-bold">
            <a routerLink="#_">Gaming Evolution</a>
          </h2>
          <p class="mb-2 text-lg font-normal opacity-100 text-yellow-50">
            Learn about the evolution of gaming and how it started a revolution.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-12 col-span-12 gap-7">
        <div
          class="
            flex flex-col
            items-start
            col-span-12
            overflow-hidden
            shadow-sm
            rounded-xl
            md:col-span-6
            lg:col-span-4
          "
        >
          <a
            routerLink="#_"
            class="
              block
              transition
              duration-200
              ease-out
              transform
              hover:scale-110
            "
          >
            <img
              class="object-cover w-full shadow-sm max-h-56"
              src="https://cdn.devdojo.com/images/may2021/workstation.jpg"
              alt="..."
            />
          </a>
          <div
            class="
              relative
              flex flex-col
              items-start
              px-6
              bg-white
              border border-t-0 border-gray-200
              py-7
              rounded-b-2xl
            "
          >
            <div
              class="
                bg-indigo-400
                absolute
                top-0
                -mt-3
                flex
                items-center
                px-3
                py-1.5
                leading-none
                w-auto
                inline-block
                rounded-full
                text-xs
                font-medium
                uppercase
                text-white
                inline-block
              "
            >
              <span>Inspiration</span>
            </div>
            <h2 class="text-base font-bold sm:text-lg md:text-xl">
              <a routerLink="#_">Best Workstations of the Year</a>
            </h2>
            <p class="mt-2 text-sm text-gray-500">
              Check out these inspiring workstations to get ideas on how to
              level-up your workstation.
            </p>
          </div>
        </div>

        <div
          class="
            flex flex-col
            items-start
            col-span-12
            overflow-hidden
            shadow-sm
            rounded-xl
            md:col-span-6
            lg:col-span-4
          "
        >
          <a
            routerLink="#_"
            class="
              block
              transition
              duration-200
              ease-out
              transform
              hover:scale-110
            "
          >
            <img
              class="object-cover w-full shadow-sm max-h-56"
              src="https://cdn.devdojo.com/images/may2021/snacks.jpg"
              alt="..."
            />
          </a>
          <div
            class="
              relative
              flex flex-col
              items-start
              px-6
              bg-white
              border border-t-0 border-gray-200
              py-7
              rounded-b-2xl
            "
          >
            <div
              class="
                bg-red-400
                absolute
                top-0
                -mt-3
                flex
                items-center
                px-3
                py-1.5
                leading-none
                w-auto
                inline-block
                rounded-full
                text-xs
                font-medium
                uppercase
                text-white
                inline-block
              "
            >
              <span>Food</span>
            </div>
            <h2 class="text-base font-bold sm:text-lg md:text-xl">
              <a routerLink="#_">Eating for Productivity</a>
            </h2>
            <p class="mt-2 text-sm text-gray-500">
              Learn how to be more disciplined in your diet and how you can eat
              to maximize productivity.
            </p>
          </div>
        </div>

        <div
          class="
            flex flex-col
            items-start
            col-span-12
            overflow-hidden
            shadow-sm
            rounded-xl
            md:col-span-6
            lg:col-span-4
          "
        >
          <a
            routerLink="/"
            class="
              block
              transition
              duration-200
              ease-out
              transform
              hover:scale-110
            "
          >
            <img
              class="object-cover w-full shadow-sm max-h-56"
              src="https://cdn.devdojo.com/images/may2021/book-design.jpg"
              alt=""
            />
          </a>
          <div
            class="
              relative
              flex flex-col
              items-start
              px-6
              bg-white
              border border-t-0 border-gray-200
              py-7
              rounded-b-2xl
            "
          >
            <div
              class="
                bg-purple-500
                absolute
                top-0
                -mt-3
                flex
                items-center
                px-3
                py-1.5
                leading-none
                w-auto
                inline-block
                rounded-full
                text-xs
                font-medium
                uppercase
                text-white
                inline-block
              "
            >
              <span>Resources</span>
            </div>
            <h2 class="text-base font-bold sm:text-lg md:text-xl">
              <a routerLink="#_">A Design Mind-set</a>
            </h2>
            <p class="mt-2 text-sm text-gray-500">
              What does it mean to have a design mind-set? Learn how to improve
              your eye for design.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full">
  <div
    class="
      flex flex-col
      lg:grid lg:gap-4
      2xl:gap-6
      lg:grid-cols-4
      2xl:row-span-2 2xl:pb-8
      ml-2
      pt-4
      px-6
    "
  >
    <div
      class="
        bg-indigo-600
        lg:order-1 lg:row-span-1
        2xl:row-span-1
        lg:col-span-2
        rounded-lg
        shadow-xl
        mb-5
        lg:mb-0
      "
    >
      <div class="mx-6 my-8 2xl:mx-10">
        <img
          class="
            w-8
            md:w-9
            lg:w-10
            2xl:w-20
            h-8
            md:h-9
            lg:h-10
            2xl:h-20
            rounded-full
            border-2
            ml-1
            lg:ml-3
            2xl:ml-0
            md:-mt-1
            2xl:-mt-4
          "
          src="https://images.pexels.com/photos/3775534/pexels-photo-3775534.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="..."
        />
        <h1
          class="
            text-white text-xs
            md:text-base
            2xl:text-2xl
            pl-12
            lg:pl-16
            2xl:pl-20
            -mt-8
            md:-mt-10
            lg:-mt-11
            2xl:-mt-20 2xl:mx-8
          "
        >
          Daniel Clifford
        </h1>
        <h2
          class="
            text-white text-opacity-50 text-xs
            md:text-base
            2xl:text-2xl
            pl-12
            lg:pl-16
            2xl:pl-20 2xl:my-2 2xl:mx-8
          "
        >
          Verified Graduate
        </h2>
      </div>
      <div class="-mt-6 relative">
        <p
          class="
            text-white text-xl
            2xl:text-4xl
            font-bold
            px-7
            lg:px-9
            2xl:pt-6 2xl:mx-2
          "
        >
          I received a job offer mid-course, and the subjects I learned were
          current, if not more so, in the company I joined. I honestly feel I
          got every penny’s worth.
        </p>
        <br />
        <p
          class="
            text-white text-opacity-50
            font-medium
            md:text-sm
            2xl:text-3xl
            px-7
            lg:px-9
            mb-3
            2xl:pb-8 2xl:mx-2
          "
        >
          “ I was an EMT for many years before I joined the bootcamp. I’ve been
          looking to make a transition and have heard some people who had an
          amazing experience here. I signed up for the free intro course and
          found it incredibly fun! I enrolled shortly thereafter. The next 12
          weeks was the best - and most grueling - time of my life. Since
          completing the course, I’ve successfully switched careers, working as
          a Software Engineer at a VR startup. ”
        </p>
      </div>
    </div>
    <!-- Ending of the component about Daniel Clifford -->

    <!-- Beginning of the component about Jonathan Walters -->
    <div
      class="
        bg-gray-900
        lg:order-2 lg:row-span-1
        2xl:row-span-1
        lg:col-span-1
        rounded-lg
        shadow-xl
        pb-4
        mb-5
        lg:mb-0
      "
    >
      <div class="mx-8 2xl:mx-10 my-10">
        <img
          class="
            w-8
            md:w-9
            2xl:w-20
            h-8
            md:h-9
            2xl:h-20
            rounded-full
            border-2
            -ml-1
            -mt-2
            lg:-mt-4
          "
          src="https://images.pexels.com/photos/634021/pexels-photo-634021.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="..."
        />
        <h1
          class="
            text-white text-xs
            md:text-base
            2xl:text-2xl
            pl-11
            md:pl-12
            2xl:pl-24
            -mt-8
            md:-mt-10
            2xl:-mt-16
          "
        >
          Jonathan Walters
        </h1>
        <h2
          class="
            text-white text-xs
            md:text-base
            2xl:text-2xl
            text-opacity-50
            pl-11
            md:pl-12
            2xl:pl-24
          "
        >
          Verified Graduate
        </h2>
      </div>
      <div class="-mt-8 mx-1 lg:mx-2">
        <p
          class="
            text-white text-lg
            lg:text-xl
            2xl:text-4xl
            font-semibold
            pt-1
            px-6
            2xl:px-8
            lg:pl-5 lg:pr-8
          "
        >
          The team was very supportive and kept me motivated
        </p>
        <br />
        <p
          class="
            text-white text-opacity-50
            font-medium
            md:text-sm
            2xl:text-3xl
            pl-6
            lg:pl-5
            pr-4
            -mt-1
            lg:mt-6
            2xl:mt-2 2xl:px-8
          "
        >
          “ I started as a total newbie with virtually no coding skills. I now
          work as a mobile engineer for a big company. This was one of the best
          investments I’ve made in myself. ”
        </p>
      </div>
    </div>
    <!-- Ending of the component about Jonathan Walters -->

    <!-- Beginning of the component about Jeanette Harmon -->
    <div
      class="
        bg-primary-color-white
        lg:order-3 lg:row-span-2
        2xl:row-span-1
        lg:col-span-1
        rounded-lg
        shadow-xl
        mb-5
        lg:mb-0
        2xl:mb-8
      "
    >
      <div class="mx-8 my-10 lg:my-8">
        <img
          alt="..."
          class="
            w-8
            md:w-9
            lg:w-11
            2xl:w-20
            h-8
            md:h-9
            lg:h-11
            2xl:h-20
            rounded-full
            border-2
            -mt-3
            -ml-1
            lg:-ml-0
          "
          src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
        <h1
          class="
            primary-color-blackish-blue
            text-xs
            md:text-base
            2xl:text-2xl
            pl-11
            md:pl-12
            lg:pl-14
            2xl:pl-24
            -mt-8
            md:-mt-10
            lg:-mt-11
            2xl:-mt-16
          "
        >
          Jeanette Harmon
        </h1>
        <h2
          class="
            primary-color-blackish-blue-opacity
            text-xs
            md:text-base
            2xl:text-2xl
            pl-11
            md:pl-12
            lg:pl-14
            2xl:pl-24
          "
        >
          Verified Graduate
        </h2>
      </div>
      <div class="-mt-4 ml-5 mr-11">
        <p
          class="
            primary-color-blackish-blue
            text-xl
            2xl:text-4xl
            font-bold
            px-2
            lg:px-3
            -mt-6
            lg:-mt-5
            2xl:mt-12 2xl:pb-6
          "
        >
          An overall wonderful and rewarding experience
        </p>
        <br />
        <p
          class="
            primary-color-blackish-blue-opacity
            font-medium
            md:text-sm
            2xl:text-3xl
            pl-2
            lg:pl-3 lg:pr-4
            mb-6
            2xl:pt-2
            -mt-3
          "
        >
          “ Thank you for the wonderful experience! I now have a job I really
          enjoy, and make a good living while doing something I love. ”
        </p>
      </div>
    </div>
    <!-- Ending of the component about Jeanette Harmon -->

    <!-- Beginning of the component about Patrick Abrams -->
    <div
      class="
        bg-purple-800
        lg:order-4 lg:row-span-2
        2xl:row-span-1
        col-span-2
        rounded-lg
        shadow-xl
        mb-5
        lg:mb-0
        2xl:mb-8
        lg:pb-14
        2xl:pb-20
      "
    >
      <div class="mx-8 my-8">
        <img
          alt="..."
          class="
            w-8
            md:w-9
            lg:w-10
            2xl:w-20
            h-8
            md:h-9
            lg:h-10
            2xl:h-20
            rounded-full
            border-2
            lg:-mt-3
          "
          src="https://images.pexels.com/photos/3778603/pexels-photo-3778603.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
        <h1
          class="
            text-white text-xs
            md:text-base
            2xl:text-2xl
            pl-12
            md:pl-14
            2xl:pl-24
            -mt-8
            md:-mt-10
            lg:-mt-11
            2xl:-mt-16
          "
        >
          Patrick Abrams
        </h1>
        <h2
          class="
            text-white text-xs
            md:text-base
            2xl:text-2xl
            text-opacity-50
            pl-12
            md:pl-14
            2xl:pl-24
          "
        >
          Verified Graduate
        </h2>
      </div>
      <div class="px-3 -mt-3 mb-5 lg:mb-0">
        <p
          class="
            text-white text-lg
            2xl:text-4xl
            font-semibold
            px-4
            -mt-3
            lg:-mt-6
            2xl:mt-8
          "
        >
          Awesome teaching support from TAs who did the bootcamp themselves.
          Getting guidance from them and learning from their experiences was
          easy.
        </p>
        <br />
        <p
          class="
            text-white text-opacity-50
            font-medium
            md:text-sm
            2xl:text-3xl
            px-4
            mt-1
            lg:-mt-3
            2xl:mt-6
          "
        >
          “ The staff seem genuinely concerned about my progress which I find
          really refreshing. The program gave me the confidence necessary to be
          able to go out in the world and present myself as a capable junior
          developer. The standard is above the rest. You will get the personal
          attention you need from an incredible community of lgart and amazing
          people. ”
        </p>
      </div>
    </div>
    <!-- Ending of the component about Patrick Abrams -->

    <!-- Beginning of the component about Kira Whittle -->
    <div
      class="
        bg-primary-color-white
        lg:order-2 lg:row-span-4 lg:col-span-1
        rounded-lg
        shadow-xl
        mb-5
        lg:pb-4
        2xl:h-screen
      "
    >
      <div class="mx-8 my-8 lg:pl-1">
        <img
          alt="..."
          class="
            w-8
            md:w-9
            lg:w-12
            2xl:w-20
            h-8
            md:h-9
            lg:h-12
            2xl:h-20
            rounded-full
            border-2
            lg:-mt-4
            -ml-1
            lg:-ml-4
          "
          src="https://images.pexels.com/photos/3762804/pexels-photo-3762804.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
        <h1
          class="
            primary-color-blackish-blue
            text-xs
            md:text-base
            2xl:text-2xl
            pl-10
            md:pl-12
            2xl:pl-24
            -mt-8
            md:-mt-10
            lg:-mt-12
            2xl:-mt-16
          "
        >
          Kira Whittle
        </h1>
        <h2
          class="
            primary-color-blackish-blue-opacity
            text-xs
            md:text-base
            2xl:text-2xl
            pl-10
            md:pl-12
            2xl:pl-24
          "
        >
          Verified Graduate
        </h2>
      </div>
      <div class="px-3 lg:px-5 lg:-mt-4 mb-5 lg:mb-0">
        <p
          class="
            primary-color-blackish-blue
            text-xl
            2xl:text-4xl
            font-semibold
            px-4
            lg:px-0
            -mt-2
            lg:-mt-0
          "
        >
          Such a life-changing experience. Highly recommended!
        </p>
        <br />
        <p
          class="
            primary-color-blackish-blue-opacity
            font-medium
            md:text-sm
            2xl:text-3xl
            px-4
            lg:px-0
            2xl:px-4
            lg:pr-3
            mt-2
            lg:-mt-1
            2xl:mt-2 2xl:pb-64
          "
        >
          “ Before joining the bootcamp, I’ve never written a line of code. I
          needed some structure from professionals who can help me learn
          programming step by step. I was encouraged to enroll by a former
          student of theirs who can only say wonderful things about the program.
          The entire curriculum and staff did not disappoint. They were very
          hands-on and I never had to wait long for assistance. The agile team
          project, in particular, was outstanding. It took my learning to the
          next level in a way that no tutorial could ever have. In fact, I’ve
          often referred to it during interviews as an example of my developent
          experience. It certainly helped me land a job as a full-stack
          developer after receiving multiple offers. 100% recommend! ”
        </p>
      </div>
    </div>
    <!-- Ending of the component about Kira Whittle -->
  </div>
</section>
