<div class="py-6">
  <!-- Breadcrumbs -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center space-x-2 text-gray-400 text-sm">
      <a routerLink="/list-course" class="hover:underline hover:text-gray-600"
        >List Course</a
      >
      <span>
        <svg
          class="h-5 w-5 leading-none text-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </span>
      <a routerLink="/" class="hover:underline hover:text-gray-600">{{
        course.danhMucKhoaHoc.maDanhMucKhoahoc
      }}</a>
      <span>
        <svg
          class="h-5 w-5 leading-none text-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </span>
      <span>{{ course.danhMucKhoaHoc.tenDanhMucKhoaHoc }}</span>
    </div>
  </div>
</div>
<!-- ./ Breadcrumbs -->
<div class="cointainer mx-auto px-4">
  <div class="flex flex-row justify-between">
    <div class="bg-white shadow-2xl rounded-b-3xl px-4 w-8/12">
      <h2
        class="
          mb-2
          leading-tight
          tracking-tight
          font-bold
          text-gray-800 text-2xl
          md:text-3xl
        "
      >
        {{ course.tenKhoaHoc }}
      </h2>

      <p class="text-gray-600 font-light text-md">
        {{ course.moTa }}
      </p>
    </div>

    <!-- Sidebar -->

    <div class="w-4/12 max-w-sm px-4">
      <img
        [src]="course.hinhAnh"
        alt="{{ course.tenKhoaHoc }}"
        class="
          rounded-t-2xl
          shadow-2xl
          lg:w-full
          2xl:w-full 2xl:h-44
          object-cover
        "
      />
      <div class="bg-white shadow-2xl rounded-b-3xl pb-3">
        <h2 class="text-center text-gray-800 text-2xl font-bold pt-6">
          Register Course
        </h2>
        <div
          class="
            flex flex-row
            justify-between
            w-72
            lg:w-5/6
            m-auto
            bg-indigo-50
            mt-5
            p-4
            lg:p-4
            rounded-2xl
          "
        >
          <div class="col-span-1">
            <p class="text-gray-500">By</p>
            <p class="text-gray-500">Create at</p>
            <p class="text-gray-500">Views:</p>
          </div>
          <div class="col-span-2">
            <p class="text-indigo-600">{{ course.nguoiTao.hoTen }}</p>
            <p class="text-indigo-600">{{ course.ngayTao }}</p>
            <p class="text-indigo-600">{{ course.luotXem }}</p>
          </div>
        </div>
        <div
          class="
            bg-blue-700
            w-72
            lg:w-5/6
            m-auto
            my-6
            p-2
            hover:bg-indigo-500
            rounded-2xl
            text-white text-center
            shadow-xl shadow-bg-blue-700
          "
        >
          <button classs="lg:text-sm text-lg font-bold w-full">
            Proceed to Enroll
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
