<div class="container">
  <div class="container h-full w-full overflow-hidden">
    <main
      class="
        bg-gray-100
        dark:bg-gray-700
        transition
        duration-500
        ease-in-out
        overflow-y-auto
      "
    >
      <div class="mx-10 my-2">
        <h2 class="my-4 text-4xl font-semibold dark:text-gray-400">
          Dashboard
        </h2>
        <button
          class="
            mt-8
            flex
            items-center
            justify-between
            py-3
            px-4
            text-white
            dark:text-gray-200
            bg-green-400
            dark:bg-green-500
            rounded-lg
            shadow
          "
        >
          <!-- Action -->
          <span>Add user</span>
          <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
          </svg>
        </button>
        <div class="flex">
          <!-- Start Card List -->
          <div
            class="
              bg-white
              p-3
              rounded-xl
              shadow-xl
              flex
              items-center
              justify-between
              mt-4
            "
          >
            <div class="flex space-x-6 items-center">
              <img
                src="https://www.nicepng.com/png/detail/395-3955418_paypal-icon-png.png"
                alt="a"
                class="w-auto h-12"
              />
              <div>
                <p class="font-semibold text-base">PayPal</p>
                <p class="font-semibold text-xs text-gray-400">
                  Payment Collected
                </p>
              </div>
            </div>

            <div class="flex space-x-2 items-center">
              <div class="bg-yellow-200 rounded-md p-2 flex items-center">
                <p class="text-yellow-600 font-semibold text-xs">-C4,678</p>
              </div>
            </div>
          </div>
          <!-- End Card List -->
        </div>
      </div>
    </main>
  </div>
</div>
