<nav
  class="flex flex-col bg-gray-200 dark:bg-gray-900 w-64 h-full px-12 pt-4 pb-6"
>
  <!-- SideNavBar -->

  <div class="mt-2">
    <!-- User info -->
    <img
      class="h-12 w-12 rounded-full object-cover"
      src="https://appzzang.me/data/editor/1608/f9c387cb6bd7a0b004f975cd92cbe2d9_1471626325_6802.png"
      alt="enoshima profile"
    />
    <h2 class="mt-4 text-xl dark:text-gray-300 font-extrabold capitalize">
      Hello KhaiPNP
    </h2>
    <span class="text-sm dark:text-gray-300">
      <span class="font-semibold text-green-600 dark:text-green-300">
        Admin
      </span>
    </span>
  </div>

  <ul class="mt-2 text-gray-600">
    <!-- Links -->
    <li class="mt-8 dark:bg-gray-200 -ml-4">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="menu-active"
        class="flex pl-4"
      >
        <svg
          class="fill-current h-5 w-5 dark:text-gray-300"
          viewBox="0 0 24 24"
        >
          <path
            d="M16 20h4v-4h-4m0-2h4v-4h-4m-6-2h4V4h-4m6
            4h4V4h-4m-6 10h4v-4h-4m-6 4h4v-4H4m0 10h4v-4H4m6
            4h4v-4h-4M4 8h4V4H4v4z"
          ></path>
        </svg>
        <span class="ml-2 capitalize font-medium"> dashboard </span>
      </a>
    </li>

    <li class="mt-8 dark:bg-gray-200 -ml-4">
      <a
        routerLink="/admin/users"
        routerLinkActive="menu-active"
        class="flex pl-4"
      >
        <svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
          <path
            d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0
            014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4
            8-4z"
          ></path>
        </svg>
        <span class="ml-2 capitalize font-medium">users</span>
      </a>
    </li>
    <li class="mt-8 dark:bg-gray-200 -ml-4">
      <a
        routerLink="/admin/courses"
        routerLinkActive="menu-active"
        class="flex pl-4"
      >
        <svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
          <path
            d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0
            014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4
            8-4z"
          ></path>
        </svg>
        <span class="ml-2 capitalize font-medium">Courses</span>
      </a>
    </li>
  </ul>

  <div class="mt-auto flex items-center text-red-700 dark:text-red-400">
    <!-- important action -->
    <button (click)="logOut()" class="flex items-center">
      <svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
        <path
          d="M16 17v-3H9v-4h7V7l5 5-5 5M14 2a2 2 0 012
        2v2h-2V4H5v16h9v-2h2v2a2 2 0 01-2 2H5a2 2 0 01-2-2V4a2 2
        0 012-2h9z"
        ></path>
      </svg>
      <span class="ml-2 capitalize font-medium">log out</span>
    </button>
  </div>
</nav>
